# You know why
node_modules
yarn-debug.log*
yarn-error.log*

# Temporary build output
build
tmp

# Files created when testing this action on itself.
test/unit/fixture/appmap.yml
patch

# AppMap archive
test/unit/fixture/.appmap/archive/full/402dec8.tar


# Ignore AppMap archives and working files
/.appmap
